#!/bin/sh

REMOTE="$5"

ip route flush table {{ item.route_v4.table }}
ip route add table {{ item.route_v4.table }} default via "$REMOTE"

ip rule del fwmark {{ item.route_v4.fwmark }} table {{ item.route_v4.table }} || true
ip rule add fwmark {{ item.route_v4.fwmark }} table {{ item.route_v4.table }}
