{% if item.openvpn.udp2raw is defined %}
remote 127.0.0.1 {{ item.openvpn.udp2raw.client_listen_port }}
{% elif item.openvpn.forward is defined %}
remote {{ item.openvpn.forward.address }} {{ item.openvpn.forward.port }}
{% else %}
remote {{ my_hostvars[item.host].ansible_host }} {{ openvpn.server_listen_port }}
{% endif %}
dev tun

ifconfig {{ '192.168.0.0/16' | ansible.utils.ipsubnet(24, my_hostvars[item.host].vpn_subnet_id) | ansible.utils.nthhost(2) }} {{ '192.168.0.0/16' | ansible.utils.ipsubnet(24, my_hostvars[item.host].vpn_subnet_id) | ansible.utils.nthhost(1) }}
ifconfig-ipv6 {{ my_hostvars[item.host].ipv6_prefix | ansible.utils.ipsubnet(64, ipv6_vpn_subnet_id) | ansible.utils.nthhost(2) }}/124 {{ my_hostvars[item.host].ipv6_prefix | ansible.utils.ipsubnet(64, ipv6_vpn_subnet_id) | ansible.utils.nthhost(1) }}

route-ipv6 {{ my_hostvars[item.host].ipv6_prefix }}
{% if item.openvpn.route_v6 is defined and item.openvpn.route_v6.extra_routes_in_default_table is defined %}
{% for x in item.openvpn.route_v6.extra_routes_in_default_table %}
route-ipv6 {{ x }}
{% endfor %}
{% endif %}

{% if item.openvpn.route_v6 is defined and item.openvpn.route_v6.default is defined and item.openvpn.route_v6.default %}
route-ipv6 2000::/3
{% endif %}

secret /etc/openvpn/static.key
cipher AES-128-CBC

script-security 2
up ./{{ item.name }}-up.sh
down ./{{ item.name }}-down.sh

fragment 1300
mssfix
