remote 127.0.0.1 {{ udp2raw_conf.client_listen_port }}
dev tun

ifconfig {{ '192.168.0.0/16' | ansible.netcommon.ipsubnet(24, wall_server.vpn_subnet_id) | ansible.netcommon.nthhost(2) }} {{ '192.168.0.0/16' | ansible.netcommon.ipsubnet(24, wall_server.vpn_subnet_id) | ansible.netcommon.nthhost(1) }}
{% if wall_server.tunnelbroker %}
ifconfig-ipv6 {{ wall_server.tunnelbroker.routed_subnet | ansible.netcommon.ipsubnet(80, wall_server.vpn_subnet_id) | ansible.netcommon.nthhost(2) }} {{ wall_server.tunnelbroker.routed_subnet | ansible.netcommon.ipsubnet(80, wall_server.vpn_subnet_id) | ansible.netcommon.nthhost(1) }}
{% endif %}

route-ipv6 2000::/3

secret static.key
cipher AES-128-CBC

script-security 2
up ./wall-up.sh
down ./wall-down.sh

fragment 1300
mssfix
