[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
octodns = "~=0.9"
octodns-googlecloud = "*"
octodns-cloudflare = "*"

[dev-packages]

[requires]
python_version = "3.12"
