.:5353 {
    forward . 127.0.0.1:5354
    # rewrite type A AAAA
    template IN A {
      # empty result for A record
    }

    errors
}

# apparently mixing rewrite/template with dns64/forward can cause lots of issues
# so instead, chain multiple servers
.:5354 {
    forward . 8.8.8.8
    dns64 {
        prefix {{ ipv6_prefix | ansible.utils.ipsubnet(64, 0x6464) | ansible.utils.ipsubnet(96, 0) }}
        allow_ipv4
    }

    errors
}
