router id {{ ansible_default_ipv4.address }};

protocol kernel {
  scan time 60;
  import none;
#  export all;   # Actually insert routes into the kernel routing table
}

protocol device {
  scan time 60;
}

{% for name, value in bgp.items() %}

table tb_{{ name }};

protocol static {
  table tb_{{ name }};

  # use blackhole because we would configure the routes manually
{% if value.prefixes is defined %}
{% for prefix in value.prefixes %}
  route {{ prefix }} blackhole;
{% endfor %}
{% endif %}
}

protocol bgp {{ name }} {
  table tb_{{ name }};

  local as {{ my_asn }};
  # no source address. rely on route table to select source. this simplifies the configuration
  import none;
{% if value.export_filter is defined %}
  export filter {
    {{ value.export_filter }}
  };
{% else %}
  export all;
{% endif %}
  graceful restart on;
  neighbor {{ value.peer_addr }} as {{ value.peer_asn }};
{% if value.password is defined %}
  password "{{ value.password }}";
{% endif %}
{% if value.multihop is defined %}
  multihop {{ value.multihop }};
{% endif %}
}

{% endfor %}
