[Unit]
Description=Kissvpn server
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kissvpn --key @/etc/kissvpn/common.key --up-script /etc/kissvpn/server.up.sh serve 0.0.0.0:53 
Restart=always
RestartSec=30
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
