-c
-l 127.0.0.1:{{ item.openvpn.udp2raw.client_listen_port }}
-r {{ my_hostvars[item.host].ansible_host }}:{{ udp2raw.openvpn.server_listen_port }}
--raw-mode {{ udp2raw.openvpn.raw_mode }}
--cipher-mode {{ udp2raw.openvpn.cipher_mode }}
-k {{ udp2raw.openvpn.key }}
--fix-gro
